.menu {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;

    .menu_item {

        position: relative;

        &:hover {

            transition: 0.2s ease;

            .sub_menu {
                display: block !important;
            }

        }

        a {
            padding: 10px 16px;
            display: block;
            text-decoration: none;
        }

        .menu_link {
            color: inherit;
            display: flex;
            align-items: center;

            svg {
                margin: 0px 4px;
            }
        }

        .sub_menu {
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 10;
            content: '';
            display: none;

            a {
                width: 100%;
            }
        }

    }


}