@use postcss-preset-env {
  stage: 0;
}

:root {
  --color-background: #000119;
  --stroke-width: calc(1em / 16);
  --font-size: 30vmin;
  --font-weight: 700;
  --letter-spacing: calc(1em / 8);
}

.card {
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.box-form {
  background-color: white;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  border-radius: 10px 0 0 10px;
  margin: 0 auto;
}

.text-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-label,
.form-group > label {
  text-align: left;
  display: block;
  font-size: 20px;
}

.gradient-background {
  background: linear-gradient(
    135deg,
    #ff6b6b,
    #f06595,
    #6b5b95,
    #00a8e8,
    #009688
  );
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

.login100-social-item {
  font-size: 25px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
}

.login100-social-item:hover {
  color: #fff;
  background-color: blue;
}


@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@font-palette-values --Mint {
  font-family: Rocher;
  base-palette: 7;
}

.mint {
  font-palette: --Mint;
}
